<?xml version="1.0" encoding="UTF-8" standalone="no"?><Root><LeftShieldPosX>-107</LeftShieldPosX><LeftShieldPosY>-49</LeftShieldPosY><RightShieldPosX>94</RightShieldPosX><RightShieldPosY>-49</RightShieldPosY><HealthBarPosX>-91</HealthBarPosX><HealthBarPosY>-50</HealthBarPosY><FirePosX>-100</FirePosX><FirePosY>-82</FirePosY><FoodBarPosX>91</FoodBarPosX><FoodBarPosY>-50</FoodBarPosY><AirBarPosX>-91</AirBarPosX><AirBarPosY>-64</AirBarPosY><ExpBarPosX>-91</ExpBarPosX><ExpBarPosY>-39</ExpBarPosY><Texture>genzvirus</Texture><BossBarPosX>-160</BossBarPosX><BossBarPosY>0</BossBarPosY><Enabled_Disabled>enabled</Enabled_Disabled><HasOverlay>false</HasOverlay><TextDisabled>false</TextDisabled><SoundEffects>true</SoundEffects><EffectsPosX>0</EffectsPosX><EffectsPosY>0</EffectsPosY></Root>